<div ng-controller="TransittimeviewCtrl"
     xmlns="http://www.w3.org/1999/html">
    <ul class="nav nav-tabs">
        <li ng-class="{active: isRouteSelected(route)}"
            ng-repeat="route in routes">
            <a ng-click="selectRoute(route)">{{route.desc}}</a>
        </li>
        <li class="pull-right">
            <button class="btn primary btn-default btn-sm"
                    ng-click="showRouteMap()">Route Map
            </button>
            <button class="btn btn-default btn-sm"
                    ng-click="showRouteSchedule()">Schedule
            </button>
            <button type="button"
                    class="btn btn-default btn-sm"
                    ng-click="refreshArrivals(selectedStop)">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </li>
    </ul>
    <br>
    <ol class="breadcrumb">
        <li>Streetcar</li>
        <li>{{selectedRoute.desc}}</li>
        <li>{{selectedDirection.desc}}</li>
        <li class="active">{{selectedStop.desc}}</li>
    </ol>
    <div class="row"
         ng-if="streetCarArrivalsView && !routeMapView">
        <div class="col-md-3">
            <ng-include src="'views/transitTimeView/partials/leftColumn.html'"></ng-include>
        </div>
        <div class="col-md-9">
            <ng-include src="'views/transitTimeView/partials/rightColumn.html'"></ng-include>
        </div>
    </div>
    <div class="row"
         ng-if="!streetCarArrivalsView && routeMapView">
        <div class="col-md-12">
            <ng-include src="'views/routeMap.html'"></ng-include>
        </div>
    </div>
</div>
