<div class="panel panel-default">
    <div class="panel-heading">
        Route Direction
    </div>
    <div class="list-group">
        <a class="list-group-item"
           ng-class="{active: isDirectionSelected(direction)}"
           ng-repeat="direction in selectedRoute.dir"
           ng-click="selectDirection(direction)">{{direction.desc}}
        </a>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Stops</div>
    <!-- List group -->
    <div class="list-group">

        <!--<label for="stopSelector">Stop</label>-->
        <select id="stopSelector"
                class="form-control"
                ui-select2
                ng-model="selectedStopLocId"
                ng-change="selectStop(selectedStopLocId)"
                data-placeholder="Choose a stop">
            <option value=""></option>
            <option ng-repeat="stop in selectedDirection.stop"
                    value="{{stop.locid}}">{{stop.desc}}
            </option>
        </select>

        <!--<a class="list-group-item"-->
           <!--ng-class="{active: isStopSelected(stop)}"-->
           <!--ng-repeat="stop in selectedDirection.stop"-->
           <!--ng-click="selectStop(stop)">{{stop.desc}}-->
        <!--</a>-->
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Operating Hours</div>
    <table class="table">
        <thead>
        <tr>
            <td>Days</td>
            <td>Hours</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mon-Fri</td>
            <td>5:30am - 11:30pm</td>
        </tr>
        <tr>
            <td>Sat</td>
            <td>7:30am - 11:30pm</td>
        </tr>
        <tr>
            <td>Sun</td>
            <td>7:30am - 10:30pm</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Fares</div>
    <table class="table">
        <thead>
        <tr>
            <td>Category</td>
            <td>Fare</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2-hour</td>
            <td>$1.00</td>
        </tr>
        <tr>
            <td>All Day</td>
            <td>$5.00</td>
        </tr>
        <tr>
            <td>Flat Fare</td>
            <td>$2.50</td>
        </tr>
        <tr>
            <td>Honored Citizen</td>
            <td>$1.00</td>
        </tr>
        <tr>
            <td>Youth</td>
            <td>$1.65</td>
        </tr>
        </tbody>
    </table>
</div>




