<div class="panel panel-default">
    <div class="panel-heading">
        Route Direction
    </div>
    <div class="list-group">
        <a class="list-group-item"
           ng-class="{active: isDirectionSelected(direction)}"
           ng-repeat="direction in selectedRoute.dir"
           ng-click="selectDirection(direction)">{{direction.desc}}
        </a>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Stops</div>
    <!-- List group -->
    <div class="list-group">

        <!--<label for="stopSelector">Stop</label>-->
        <select id="stopSelector"
                class="form-control"
                ui-select2
                ng-model="currentlySelectedStop"
                ng-change="selectStop(currentlySelectedStop)"
                data-placeholder="Choose a stop">
            <option value=""></option>
            <option ng-repeat="stop in selectedDirection.stop"
                    value="{{stop}}">{{stop.desc}}
            </option>
        </select>

        <!--<a class="list-group-item"-->
           <!--ng-class="{active: isStopSelected(stop)}"-->
           <!--ng-repeat="stop in selectedDirection.stop"-->
           <!--ng-click="selectStop(stop)">{{stop.desc}}-->
        <!--</a>-->
    </div>
</div>
