<!--Stop Info-->
<div class="panel panel-primary"
     ng-if="stopIsSelected">
    <div class="panel-heading">{{selectedStop.desc}}
        <span class="pull-right">
          <span class="pull-left">{{queryTime | date: 'medium'}}</span>
        </span>
    </div>
    <div class="panel-body">
        <!--<div class="panel panel-primary"-->
             <!--ng-class="{'panel-danger': arrivalInfo.imminent, 'panel-warning': arrivalInfo.soon, 'panel-info': arrivalInfo.enoughTimeForCoffee, 'panel-success': arrivalInfo.aGoodAmountofTime}">-->
            <!--<div class="panel-heading">-->
                <!--Next Arrival-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<div class="well well-sm">-->
                    <!--<h1>{{remainingTime.minutes}} min, {{remainingTime.seconds}} sec @-->
                        <!--{{selectedStop.arrivalInfo.resultSet.arrival[0].estimated ||-->
                        <!--selectedStop.arrivalInfo.resultSet.arrival[0].scheduled | date:'h:mm a'}}</h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Arrivals
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <td>Arriving in...</td>
                    <th>Estimated</th>
                    <!--<th>Scheduled</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="arrival in selectedStop.arrivalInfo.resultSet.arrival"
                    ng-class="{danger: arrival.imminent, warning: arrival.soon, info: arrivalInfo.enoughTimeForCoffee, success: arrivalInfo.aGoodAmountofTime}">
                    <td>{{arrival.shortSign}}</td>
                    <td>{{arrival.remainingTime.minutes}} min,
                        {{arrival.remainingTime.seconds}} sec</td>
                    <td>{{arrival.estimated | date:'h:mm a'}}</td>
                    <!--<td>{{arrival.scheduled | date:'h:mm a'}}</td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Map
                <button type="button"
                        class="btn btn-default btn-xs pull-right"
                        ng-click="refreshArrivals(selectedStop)">
                    Get Directions
                </button>
            </div>
            <div class="panel-body">
                <!--Google Map-->
                <section class="map">
                    <div id="map-canvas"></div>
                </section>
            </div>
        </div>
    </div>
</div>
