<section class="map route-map"
         ng-if="selectedRoute !== null">
    <div class="row">
        <!--Left Column-->
        <div class="col-xs-4">
            <ng-include src="'views/routeMap/partials/leftColumn.html'"></ng-include>
        </div>
        <!--Right Column-->
        <div class="col-xs-8">
            <!--Overlay Menu-->
            <small>Overlays</small>
            <form class="form-inline"
                  role="form">
                <div class="form-row">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-click="routeMap.toggleServiceBoundaryOverlay()"> Service Boundary
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-click="routeMap.toggleTransitCenterOverlay()"> Transit Centers
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-click="routeMap.toggleParkAndRidesOverlay()"> Park & Ride
                        </label>
                    </div>
                </div>
            </form>
            <br>
            <!--Map-->
            <div class="row">
                <div class="map-container">
                    <div id="map-canvas"></div>
                </div>
            </div>
            <br>
            <!--Arrivals-->
            <div class="row"
                 id="arrivals-slideup">
                <!--Empty State-->
                <div class="well well-lg"
                     ng-if="!routeMap.stopIsSelected">Please select a stop to see arrival times.
                </div>
                <!--Stop Info-->
                <ng-include src="'views/routeMap/partials/arrivals.html'"></ng-include>
            </div>
        </div>
    </div>
</section>

