{{routeMap.hoveredRoute}}

<div class="panel panel-primary"
     ng-if="routeMap.stopIsSelected">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{routeMap.selectedStop.resultSet.location[0].desc}}: {{routeMap.selectedStop.resultSet.location[0].dir}}</h3>
    </div>
    <!-- Table -->
    <table class="table table-condensed">
        <thead>
        <tr>
            <th><small>Type</small></th>
            <th><small>Name</small></th>
            <th><small>Arriving in...</small></th>
            <th><small>Estimated</small></th>
            <th><small>Scheduled</small></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="arrival in routeMap.selectedStop.resultSet.arrival"
            ng-class="{danger: arrival.imminent, warning: arrival.soon, info: arrivalInfo.enoughTimeForCoffee, success: arrivalInfo.aGoodAmountofTime}">
            <td class="arrival-icon">
                <img ng-if="routeMap.isStreetCarRoute(arrival)"
                     src="images/street_car.svg"
                     style="height: 20px; width: 20px;"
                     alt=""/>
                <img ng-if="routeMap.isTrimetRoute(arrival)"
                     src="images/rail.svg"
                     style="height: 20px; width: 20px;"
                     alt=""/>
                <img ng-if="!routeMap.isStreetCarRoute(arrival) && !routeMap.isTrimetRoute(arrival)"
                     src="images/bus.svg"
                     style="height: 20px; width: 20px;"
                     alt=""/>
            </td>
            <td><small>{{arrival.fullSign}}</small></td>
            <td><small>
                        <span ng-if="arrival.remainingTime.hours">{{arrival.remainingTime.hours}} hr,</span>
                        {{arrival.remainingTime.minutes}} min,
                       {{arrival.remainingTime.seconds}} sec</small></td>
            <td><small>{{arrival.estimated | date:'h:mm a'}}</small></td>
            <td><small>{{arrival.scheduled | date:'h:mm a'}}</small></td>
        </tr>
        </tbody>
    </table>
</div>
