<br>
<div class="form-group">
    <input type="text"
           class="form-control"
           id="busSeach"
           ng-model="busSearch"
           placeholder="Search Bus Routes">
</div>
<div class="left-column-container"
     ps-full-height-left-col>

    <div ng-show="!routeMap.busRoutes">
        <div class="well well-lg">Loading Bus routes...</div>
    </div>

    <div ng-show="routeMap.busRoutes">
        <accordion close-others="false">
            <accordion-group ng-repeat="route in routeMap.busRoutes"
                             is-open="true">
                <accordion-heading>
                    {{route.name}}
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="direction in route.directions | filter:busSearch"
                        ng-class="{directionEnabled: direction.enabled, active: direction.enabled}"
                        ng-model="direction.enabled"
                        ng-click="routeMap.toggleRoute(direction)">
                        <a ng-style="{'background-color': direction.color}">
                            <input type="checkbox"
                                   ng-checked="direction.enabled === true"> {{direction.displayName}}
                        </a>
                    </li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
</div>
