<tabset>
    <!--Nearby Routes-->
    <tab>
        <tab-heading>
            Nearby
        </tab-heading>
        <ng-include src="'views/routeMap/partials/nearMe.html'"></ng-include>
    </tab>
    <!--Streetcar Tab-->
    <tab>
        <tab-heading>
            Streetcar
        </tab-heading>
        <ng-include src="'views/routeMap/partials/streetcar.html'"></ng-include>
    </tab>
    <!--Trimet Tab-->
    <tab>
        <tab-heading>
            Trimet
        </tab-heading>
        <ng-include src="'views/routeMap/partials/trimet.html'"></ng-include>
    </tab>
    <!--Bus Tab-->
    <tab>
        <tab-heading>
            Bus
        </tab-heading>
        <ng-include src="'views/routeMap/partials/bus.html'"></ng-include>
    </tab>
</tabset>
