<br>
<div class="row">
    <div class="col-xs-8">
        <div class="form-group">
            <select id="stopSelector"
                    class="form-control"
                    ui-select2
                    ng-model="routeMap.distanceFromLocation">
                <option value="660">1/8 Mile</option>
                <option value="1320">1/4 Mile</option>
                <option value="2640">1/2 Mile</option>
                <option value="3960">3/4 Mile</option>
                <option value="5280">1 Mile</option>
            </select>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <!--<label for="stopSelector"></label>-->
            <button class="btn btn-primary"
                    ng-click="routeMap.getNearbyRoutes()">Submit
            </button>
        </div>
    </div>
</div>

<tabset justified="true">
    <!--Nearby Routes-->
    <tab>
        <tab-heading>
            Stops
        </tab-heading>
        <br>
        <ng-include src="'views/routeMap/partials/nearbyStops.html'"></ng-include>
    </tab>
    <tab>
        <tab-heading>Routes</tab-heading>
        <br>
        <ng-include src="'views/routeMap/partials/nearbyRoutes.html'"></ng-include>
    </tab>
</tabset>
