<div class="form-group">
    <input type="text"
           class="form-control"
           id="streetcarSeach"
           ng-model="nearbyRouteSearch"
           placeholder="Search nearby Routes">
</div>

<div class="left-column-container">

    <div ng-show="!routeMap.nearbyStops">
        <div class="well well-lg">Loading nearby stops...</div>
    </div>

    <div ng-show="routeMap.nearbyStops">

        <div class="panel panel-default"
             ng-repeat="route in routeMap.nearbyRoutes | filter: nearbyRouteSearch">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <input type="checkbox"
                       ng-checked="direction.enabled === true">  {{route.desc}} | <span class="label label-default">{{route.route}}</span>
            </div>
            <!-- Table -->
            <table class="table table-condensed">
                <thead>
                    <td><small>Stop</small></td>
                    <td><small>Name</small></td>
                    <td><small>Dir</small></td>
                </thead>
                <tbody>
                    <tr ng-repeat="stop in route.stops"
                        ng-click="routeMap.toggleRoute(route)">
                        <td><small><span class="label label-default">{{stop.locid}}</span></small></td>
                        <td><small>{{stop.desc}}</small></td>
                        <td><small>{{stop.dir}}</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
