<br>
<div class="row">
    <div class="col-xs-8">
        <div class="form-group">
            <!--<label for="stopSelector">Radius</label>-->
            <select id="stopSelector"
                    class="form-control"
                    ui-select2
                    ng-model="routeMap.distanceFromLocation">
                <option value="660">1/8 Mile</option>
                <option value="1320">1/4 Mile</option>
                <option value="2640">1/2 Mile</option>
                <option value="3960">3/4 Mile</option>
                <option value="5280">1 Mile</option>
            </select>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <!--<label for="stopSelector"></label>-->
            <button class="btn btn-primary"
                    ng-click="routeMap.getNearbyRoutes()">Submit
            </button>
        </div>
    </div>
</div>

<div class="form-group">
    <input type="text"
           class="form-control"
           id="streetcarSeach"
           ng-model="nearbyStopsSearch"
           placeholder="Search Streetcar Routes">
</div>

<div class="left-column-container"
     ps-full-height-left-col>

    <div ng-show="!routeMap.nearbyStops">
        <div class="well well-lg">Loading nearby stops...</div>
    </div>

    <div ng-show="routeMap.nearbyStops">
        <accordion close-others="false">
            <accordion-group ng-repeat="stop in routeMap.nearbyStops | filter: nearbyStopsSearch"
                             is-open="true">
                <accordion-heading>
                    <h6>{{stop.desc}} | <span class="label label-default">{{stop.dir}}</span>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </h6>
                </accordion-heading>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="route in stop.route"
                        ng-model="route.enabled"
                        ng-click="routeMap.toggleRoute(route)">
                        <a>
                            {{route.desc}}
                        </a>
                    </li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
</div>

