<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand"
           href="#">PDX Transit</a>
    </div>

    <ul class="nav navbar-nav">
        <li ng-repeat="navItem in nav.topNavigationItems"
            ng-class="{active: nav.isActive(navItem)}">
            <a ng-href="#{{navItem.route}}">{{navItem.displayName}}</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a ng-href="https://github.com/wintermuted/Portland-Streetcar-App">Alpha 0.2</a>
        </li>
    </ul>
</div>
