<section class="detail-panel"
         ng-show="routeMap.nothingIsSelected === false">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-right">
        <a ng-click="routeMap.closeDetailsPanel()">Close</a>
      </div>
      <h3 class="panel-title">{{routeMap.selectedRoute.desc}}</h3>
    </div>
    <div class="panel-body">
      <tabset justified="true">
        <tab ng-repeat="direction in routeMap.selectedRoute.dir">
          <tab-heading>
            <small>{{direction.desc}}</small>
          </tab-heading>
          <ng-include src="'views/routeMap/partials/left-panel/detail-panel/partials/route-stops.html'"></ng-include>
        </tab>
      </tabset>
    </div>
  </div>
</section>
