<section class="about">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Why?</h3>
                </div>
                <div class="panel-body">
                    <p>This project started as a result of living in the South Waterfront neighborhood of Portland, and taking the NS line of the streetcar nearly every day to work for over a year.  Being originally from Los Angeles, which has horrible public transit infrastructure, I've loved experiencing what Portland has to offer in this regard.  There are quite a few good applications out there to help people plan transit trips in Portland, but being a developer, naturally I had to create my own utilizing the Trimet Transit API.</p>

                    <p>I've since moved out of the service area of the Max or the Portland Streetcar, but I still continue to work on this in the interest of keeping my Javascript skills sharp, and to further my love for mapping & visualizations.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Roadmap</h3>
                </div>
                <div class="panel-body">
                    <h4>Near-future</h4>
                    <ul>
                        <li>Route Searching</li>
                        <li>Stop Searching</li>
                        <li>Better UI than the current bootstrap-bland implementation.</li>
                    </ul>

                    <h4>Eventually</h4>
                    <ul>
                        <li>Saved stops</li>
                        <li>Mobile support</li>
                        <li>Car2Go Support</li>
                        <li>Kiosk Mode</li>
                    </ul>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contributors</h3>
                </div>
                <div class="panel-body">

                    <p><strong>Source:</strong> <a href="https://github.com/wintermuted/Portland-Streetcar-App">https://github.com/wintermuted/Portland-Streetcar-App</a></p>

                    <ul>
                        <li><strong>Project Lead</strong> - <a href="http://www.jamesonnyeholt.com">Jameson Nyeholt</a></li>
                    </ul>


                    <p>I'm currently the only contributor on this project.  Want to help?  I'd love the help.  Shoot me an <a href="mailto:jameson.nyeholt@gmail.com">email</a> regarding how you want to contribute, fork it, or submit a pull request.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">License</h3>
                </div>
                <div class="panel-body">
                <pre>
                The MIT License (MIT)

                Copyright (c) 2014 Jameson Nyeholt

                Permission is hereby granted, free of charge, to any person obtaining a copy
                of this software and associated documentation files (the "Software"), to deal
                in the Software without restriction, including without limitation the rights
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the Software is
                furnished to do so, subject to the following conditions:

                The above copyright notice and this permission notice shall be included in all
                copies or substantial portions of the Software.

                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                SOFTWARE.
                </pre>
                </div>
            </div>
        </div>
    </div>
</section>
