<br>
<p>
    The Portland Streetcar runs about every 15 minutes during the day (less frequently in the evening and on Sundays)</p>
<div class="form-group">
    <input type="text"
           class="form-control"
           id="streetcarSeach"
           ng-model="streetCarSearch"
           placeholder="Search Streetcar Routes">
</div>
<div class="left-column-container">

    <div ng-show="!routeMap.streetcar">
        <div class="well well-lg">Loading Streetcar routes...</div>
    </div>

    <div ng-show="routeMap.streetcar">

        <div class="panel panel-default"
             ng-repeat="route in routeMap.streetcar | filter:busSearch">
            <div class="panel-heading">
                <small>
                    <strong>
                        <a ng-click="routeMap.selectRoute(route); $event.stopPropagation();">
                            {{route.name}}
                        </a>
                    </strong>
                    <span class="label label-default">{{route.routeId}}</span>
                </small>
            </div>
            <table class="table table-condensed table-hover">
                <thead>
                <td></td>
                <td>
                    <small>Direction</small>
                </td>
                </thead>
                <tbody>
                <tr ng-repeat="direction in route.directions | filter:busSearch"
                    ng-class="{info: direction.enabled}"
                    ng-click="routeMap.toggleStreetCarRoute(direction)">
                    <td>
                        <input type="checkbox"
                               ng-checked="direction.enabled === true">
                    </td>
                    <td>
                        <small>{{direction.displayName}}</small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
