<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>PDX Transit</h1>
            <p>A Web Application for easily finding public transit information in Portland, Oregon.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <form role="form">
            <div class="well">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for transit stops here...."/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Search</button>
                    </span>
                </div>

            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="well">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-map-marker"></span>Locate Nearby Stops
            </button>
        </div>
    </div>
</div>


