<div class="row">
    <div class="col-sm-3">
        <form>
            <div class="form-group">
                <label for="radiusFeet">Radius</label>
                <select id="radiusFeet"
                        class="form-control"
                        ui-select2
                        ng-model="distanceFeet"
                        ng-change="updateDistance(distanceFeet)"
                        data-placeholder="Pick a Distance">
                    <option value=""></option>
                    <option ng-repeat="distance in distanceOptions"
                            value="{{distance.value}}">{{distance.displayName}}
                    </option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-sm-9">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nearby Stops
            </div>
            <div class="list-group">
                <a class="list-group-item"
                   ng-class="{active: isStopSelected(stop)}"
                   ng-click="selectStop(stop)"
                   ng-repeat="stop in filterStopsThatLackRoutes(nearbyStops.location)"
                   ng-hide="stop.route.length === 0">
                    <h4 class="list-group-item-heading">{{stop.desc}}</h4>

                    <p class="list-group-item-text"
                       ng-repeat="route in filterStopRoutes(stop.route)">
                        {{route.desc}} {{route.dir[0].desc}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{selectedStop.desc}}
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Next Arrival
                    </div>
                    <div class="panel-body">
                        <h2>{{selectedStop.arrivalInfo.resultSet.arrival[0].shortSign}}:<br> {{remainingTime.minutes}}
                            min, {{remainingTime.seconds}} sec @
                            {{selectedStop.arrivalInfo.resultSet.arrival[0].estimated | date:'h:mm a'}}</h2>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Arrivals
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Estimated</th>
                            <th>Scheduled</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="arrival in selectedStop.arrivalInfo.resultSet.arrival"
                            ng-class="{danger: arrival.imminent, warning: arrival.soon}">
                            <td>{{arrival.shortSign}}</td>
                            <td>{{arrival.estimated | date:'h:mm a'}}</td>
                            <td>{{arrival.scheduled | date:'h:mm a'}}</td>
                            <td>{{arrival.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
