<ul class="nav nav-tabs">
    <li ng-class="{active: isRouteSelected(route)}"
        ng-repeat="route in routes">
        <a ng-click="selectRoute(route)">{{route.desc}}</a>
    </li>
    <li class="pull-right">
        <button class="btn primary btn-default btn-sm"
                ng-click="showRouteMap()">Route Map
        </button>
        <button class="btn btn-default btn-sm"
                ng-click="showRouteSchedule()">Schedule
        </button>
        <button type="button"
                class="btn btn-default btn-sm"
                ng-click="refreshArrivals(selectedStop)">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </li>
</ul>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Route Map
    </div>
    <div class="panel-body">
        <section class="map route-map"
                 ng-if="selectedRoute !== null">
            <div id="map-canvas"></div>
        </section>
    </div>
</div>
