<section class="map route-map"
         ng-if="selectedRoute !== null">
    <div class="row">
        <div class="col-md-3">

            <tabset>
                <tab heading="Streetcar">
                    <ul class="nav nav-pills nav-stacked"
                        ng-repeat="(route, routeData) in streetcar">
                        <h6 ng-if="route == 193">North-South (NS) Line</h6>
                        <h6 ng-if="route == 194">Central (CL) Line</h6>
                        <li ng-repeat="direction in routeData"
                            ng-class="{directionEnabled: direction.enabled, active: direction.enabled}"
                            ng-model="direction.enabled"
                            ng-click="toggleRoute(direction)">
                            <a ng-style="{'background-color': direction.color}">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-checked="direction.enabled === true">{{direction.displayName}}
                                    </label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </tab>
                <tab heading="Trimet">
                    <ul class="nav nav-pills nav-stacked"
                        ng-repeat="(route, routeData) in maxRail">
                        <h6 ng-if="route == 100">Blue Line</h6>
                        <h6 ng-if="route == 200">Green Line</h6>
                        <h6 ng-if="route == 90">Red Line</h6>
                        <h6 ng-if="route == 190">Yellow Line</h6>
                        <li ng-repeat="direction in routeData"
                            ng-class="{directionEnabled: direction.enabled, active: direction.enabled}"
                            ng-model="direction.enabled"
                            ng-click="toggleRoute(direction)"
                            btn-checkbox>
                            <a ng-style="{'background-color': direction.color}">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-checked="direction.enabled === true">{{direction.displayName}}
                                    </label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </tab>
                <tab heading="Bus">
                    <h6>Coming soon...</h6>
                </tab>
            </tabset>
        </div>
        <div class="col-md-9">
            <div id="map-canvas"></div>
        </div>
    </div>
</section>

