<div class="col-md-3">
    <ul class="list-group">
        <a class="list-group-item"
           ng-class="{active: isRouteSelected(route)}"
           ng-repeat="route in routes"
           ng-click="selectRoute(route)">{{route.desc}}
        </a>
    </ul>
</div>
<div class="col-md-9">
    <!--Empty State-->
    <div class="panel-body"
         ng-hide="routeIsSelected">
        Please select a route.
    </div>
    <!--All Stop-->
    <div class="panel-body"
         ng-show="routeIsSelected && !stopIsSelected">
        <tabset>
            <tab ng-repeat="direction in selectedRoute.dir"
                 active="tab.active"
                 disabled="tab.disabled">
                <tab-heading>
                    {{direction.desc}}
                </tab-heading>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Stop Name</th>
                        <th>Location ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stop in direction.stop"
                        ng-click="selectStop(stop)">
                        <td>{{stop.desc}}</td>
                        <td>{{stop.locid}}</td>
                    </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>
    <!--Stop Info-->
    <ul class="pager"
        ng-show="stopIsSelected">
        <li class="previous">
            <a ng-click="returnToAllStops()">&larr; All Stops</a>
        </li>
    </ul>
    <div class="panel panel-default"
         ng-show="stopIsSelected">
        <div class="panel-heading">{{selectedStop.desc}}
            <span class="pull-right">{{queryTime | date: 'medium'}}</span>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Map</div>
                <div class="panel-body">
                    hello
                </div>
                <!-- Default panel contents -->
                <div class="panel-heading">Arrivals
                    <!--Refresh-->
                    <button type="button"
                            class="btn btn-default btn-xs pull-right"
                            ng-click="refreshArrivals(selectedStop)">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>Departed</th>
                        <th>Estimated</th>
                        <th>Scheduled</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="arrival in selectedStop.arrivalInfo.resultSet.arrival">
                        <td>{{arrival.departed}}</td>
                        <td>{{arrival.estimated | date:'medium'}}</td>
                        <td>{{arrival.scheduled | date:'medium'}}</td>
                        <td>{{arrival.status}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




