<div class="alert alert-warning alert-dismissable">
    <button type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true">&times;</button>
    Effective 6/2/2013
</div>
<div class="panel panel-default">
<div class="panel-heading">
    NS Line Weekday Service To South Waterfront
</div>
<div class="panel-body">
    <p>Schedules may change without notice by up to three minutes to adjust for the following service conditions:
       traffic, accidents, special events, construction and weather conditions. Please refer to platform reader board
       for current arrival times.</p>

    <p>RED PRINT BELOW IS YARD BOUND TRAIN; NW 18TH & LOVEJOY IS LAST STOP</p>

    <p>LAST STREETCAR OF THE DAY DEPARTS from OHSU COMMONS to NW 23RD AVE:
       11:18PM MONDAY-FRIDAY / 11:17PM SATURDAY / 10:27PM SUNDAY</p>
</div>
<table class="table table-hover table-striped">
<thead>
<tr class="success">
    <th>NW 23rd &amp;<br>
        Marshall<br>
        Stop ID 08989
    </th>
    <th>NW Lovejoy<br>
        &amp; 18th<br>
        Stop ID 10751
    </th>
    <th>NW 11th &amp;<br>
        Johnson<br>
        Stop ID 10753
    </th>
    <th>SW 11th &amp;<br>
        Alder<br>
        Stop ID 09600
    </th>
    <th>SW 5th &amp;<br>
        Montgomery<br>
        Stop ID 10763
    </th>
    <th>SW River Place<br>
        &amp; Moody<br>
        Stop ID 12378
    </th>
    <th>SW Lowell<br>
        &amp; Bond (A)<br>
        Stop ID 12881
    </th>
</tr>
</thead>
<tbody align="center">
<tr>
    <td>5:45a</td>
    <td>5:49a</td>
    <td>5:52a</td>
    <td>5:58a</td>
    <td>6:06a</td>
    <td>6:11a</td>
    <td>6:16a</td>
</tr>
<tr>
    <td>6:05a</td>
    <td>6:09a</td>
    <td>6:12a</td>
    <td>6:18a</td>
    <td>6:26a</td>
    <td>6:31a</td>
    <td>6:36a</td>
</tr>
<tr>
    <td>6:25a</td>
    <td>6:29a</td>
    <td>6:32a</td>
    <td>6:38a</td>
    <td>6:46a</td>
    <td>6:51a</td>
    <td>6:56a</td>
</tr>
<tr>
    <td>6:45a</td>
    <td>6:49a</td>
    <td>6:52a</td>
    <td>6:58a</td>
    <td>7:07a</td>
    <td>7:13a</td>
    <td>7:18a</td>
</tr>
<tr>
    <td>7:04a</td>
    <td>7:08a</td>
    <td>7:11a</td>
    <td>7:17a</td>
    <td>7:26a</td>
    <td>7:32a</td>
    <td>7:37a</td>
</tr>
<tr>
    <td>7:23a</td>
    <td>7:27a</td>
    <td>7:30a</td>
    <td>7:36a</td>
    <td>7:45a</td>
    <td>7:51a</td>
    <td>7:56a</td>
</tr>
<tr>
    <td>7:42a</td>
    <td>7:46a</td>
    <td>7:49a</td>
    <td>7:55a</td>
    <td>8:04a</td>
    <td>8:10a</td>
    <td>8:15a</td>
</tr>
<tr>
    <td>8:01a</td>
    <td>8:05a</td>
    <td>8:08a</td>
    <td>8:14a</td>
    <td>8:23a</td>
    <td>8:29a</td>
    <td>8:34a</td>
</tr>
<tr>
    <td>8:20a</td>
    <td>8:24a</td>
    <td>8:27a</td>
    <td>8:33a</td>
    <td>8:42a</td>
    <td>8:48a</td>
    <td>8:53a</td>
</tr>
<tr>
    <td>8:39a</td>
    <td>8:43a</td>
    <td>8:46a</td>
    <td>8:52a</td>
    <td>9:01a</td>
    <td>9:07a</td>
    <td>9:12a</td>
</tr>
<tr>
    <td>8:58a</td>
    <td>9:02a</td>
    <td>9:05a</td>
    <td>9:11a</td>
    <td>9:20a</td>
    <td>9:26a</td>
    <td>9:31a</td>
</tr>
<tr>
    <td>9:17a</td>
    <td>9:21a</td>
    <td>9:24a</td>
    <td>9:31a</td>
    <td>9:40a</td>
    <td>9:46a</td>
    <td>9:51a</td>
</tr>
<tr>
    <td>9:30a</td>
    <td>9:34a</td>
    <td>9:37a</td>
    <td>9:44a</td>
    <td>9:53a</td>
    <td>9:59a</td>
    <td>10:04a</td>
</tr>
<tr>
    <td>9:40a</td>
    <td>9:44a</td>
    <td>9:47a</td>
    <td>9:54a</td>
    <td>10:03a</td>
    <td>10:09a</td>
    <td>10:14a</td>
</tr>
<tr>
    <td>9:59a</td>
    <td>10:03a</td>
    <td>10:06a</td>
    <td>10:13a</td>
    <td>10:22a</td>
    <td>10:28a</td>
    <td>10:33a</td>
</tr>
<tr>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>10:22a</td>
    <td>10:31a</td>
    <td>10:37a</td>
    <td>10:42a</td>
</tr>
<tr>
    <td>10:18a</td>
    <td>10:22a</td>
    <td>10:25a</td>
    <td>10:32a</td>
    <td>10:41a</td>
    <td>10:47a</td>
    <td>10:52a</td>
</tr>
<tr>
    <td>10:33a</td>
    <td>10:37a</td>
    <td>10:40a</td>
    <td>10:47a</td>
    <td>10:56a</td>
    <td>11:02a</td>
    <td>11:07a</td>
</tr>
<tr>
    <td>10:47a</td>
    <td>10:51a</td>
    <td>10:54a</td>
    <td>11:01a</td>
    <td>11:10a</td>
    <td>11:16a</td>
    <td>11:21a</td>
</tr>
<tr>
    <td>11:01a</td>
    <td>11:05a</td>
    <td>11:08a</td>
    <td>11:15a</td>
    <td>11:24a</td>
    <td>11:30a</td>
    <td>11:35a</td>
</tr>
<tr>
    <td>11:15a</td>
    <td>11:19a</td>
    <td>11:22a</td>
    <td>11:29a</td>
    <td>11:38a</td>
    <td>11:44a</td>
    <td>11:49a</td>
</tr>
<tr>
    <td>11:29a</td>
    <td>11:33a</td>
    <td>11:36a</td>
    <td>11:43a</td>
    <td>11:52a</td>
    <td>11:58a</td>
    <td>12:03p</td>
</tr>
<tr>
    <td>11:43a</td>
    <td>11:47a</td>
    <td>11:50a</td>
    <td>11:57a</td>
    <td>12:06p</td>
    <td>12:12p</td>
    <td>12:17p</td>
</tr>
<tr>
    <td>11:57a</td>
    <td>12:01p</td>
    <td>12:04p</td>
    <td>12:11p</td>
    <td>12:20p</td>
    <td>12:26p</td>
    <td>12:31p</td>
</tr>
<tr>
    <td>12:11p</td>
    <td>12:15p</td>
    <td>12:18p</td>
    <td>12:25p</td>
    <td>12:35p</td>
    <td>12:41p</td>
    <td>12:46p</td>
</tr>
<tr>
    <td>12:25p</td>
    <td>12:29p</td>
    <td>12:32p</td>
    <td>12:39p</td>
    <td>12:49p</td>
    <td>12:55p</td>
    <td>1:00p</td>
</tr>
<tr>
    <td>12:39p</td>
    <td>12:43p</td>
    <td>12:46p</td>
    <td>12:53p</td>
    <td>1:03p</td>
    <td>1:09p</td>
    <td>1:14p</td>
</tr>
<tr>
    <td>12:53p</td>
    <td>12:57p</td>
    <td>1:00p</td>
    <td>1:07p</td>
    <td>1:17p</td>
    <td>1:23p</td>
    <td>1:28p</td>
</tr>
<tr>
    <td>1:07p</td>
    <td>1:11p</td>
    <td>1:14p</td>
    <td>1:21p</td>
    <td>1:31p</td>
    <td>1:37p</td>
    <td>1:42p</td>
</tr>
<tr>
    <td>1:21p</td>
    <td>1:25p</td>
    <td>1:28p</td>
    <td>1:35p</td>
    <td>1:45p</td>
    <td>1:51p</td>
    <td>1:56p</td>
</tr>
<tr>
    <td>1:35p</td>
    <td>1:39p</td>
    <td>1:42p</td>
    <td>1:49p</td>
    <td>1:59p</td>
    <td>2:05p</td>
    <td>2:10p</td>
</tr>
<tr>
    <td>1:49p</td>
    <td>1:53p</td>
    <td>1:56p</td>
    <td>2:03p</td>
    <td>2:13p</td>
    <td>2:19p</td>
    <td>2:24p</td>
</tr>
<tr>
    <td>2:03p</td>
    <td>2:07p</td>
    <td>2:10p</td>
    <td>2:17p</td>
    <td>2:27p</td>
    <td>2:33p</td>
    <td>2:38p</td>
</tr>
<tr>
    <td>2:17p</td>
    <td>2:21p</td>
    <td>2:24p</td>
    <td>2:31p</td>
    <td>2:41p</td>
    <td>2:47p</td>
    <td>2:52p</td>
</tr>
<tr>
    <td>2:31p</td>
    <td>2:35p</td>
    <td>2:38p</td>
    <td>2:45p</td>
    <td>2:55p</td>
    <td>3:01p</td>
    <td>3:06p</td>
</tr>
<tr>
    <td>2:45p</td>
    <td>2:49p</td>
    <td>2:52p</td>
    <td>2:59p</td>
    <td>3:09p</td>
    <td>3:15p</td>
    <td>3:20p</td>
</tr>
<tr>
    <td>2:59p</td>
    <td>3:03p</td>
    <td>3:06p</td>
    <td>3:13p</td>
    <td>3:23p</td>
    <td>3:29p</td>
    <td>3:34p</td>
</tr>
<tr>
    <td>3:13p</td>
    <td>3:17p</td>
    <td>3:20p</td>
    <td>3:27p</td>
    <td>3:37p</td>
    <td>3:43p</td>
    <td>3:48p</td>
</tr>
<tr>
    <td>3:27p</td>
    <td>3:31p</td>
    <td>3:34p</td>
    <td>3:41p</td>
    <td>3:51p</td>
    <td>3:57p</td>
    <td>4:02p</td>
</tr>
<tr>
    <td>3:41p</td>
    <td>3:45p</td>
    <td>3:48p</td>
    <td>3:55p</td>
    <td>4:05p</td>
    <td>4:11p</td>
    <td>4:16p</td>
</tr>
<tr>
    <td>3:55p</td>
    <td>3:59p</td>
    <td>4:02p</td>
    <td>4:09p</td>
    <td>4:19p</td>
    <td>4:25p</td>
    <td>4:30p</td>
</tr>
<tr>
    <td>4:09p</td>
    <td>4:13p</td>
    <td>4:16p</td>
    <td>4:23p</td>
    <td>4:34p</td>
    <td>4:40p</td>
    <td>4:45p</td>
</tr>
<tr>
    <td>4:24p</td>
    <td>4:28p</td>
    <td>4:31p</td>
    <td>4:38p</td>
    <td>4:49p</td>
    <td>4:55p</td>
    <td>5:00p</td>
</tr>
<tr>
    <td>4:38p</td>
    <td>4:42p</td>
    <td>4:45p</td>
    <td>4:52p</td>
    <td>5:03p</td>
    <td>5:09p</td>
    <td>5:14p</td>
</tr>
<tr>
    <td>4:52p</td>
    <td>4:56p</td>
    <td>4:59p</td>
    <td>5:06p</td>
    <td>5:17p</td>
    <td>5:23p</td>
    <td>5:28p</td>
</tr>
<tr>
    <td>5:06p</td>
    <td>5:10p</td>
    <td>5:13p</td>
    <td>5:20p</td>
    <td>5:31p</td>
    <td>5:37p</td>
    <td>5:42p</td>
</tr>
<tr>
    <td>5:20p</td>
    <td>5:24p</td>
    <td>5:27p</td>
    <td>5:34p</td>
    <td>5:45p</td>
    <td>5:51p</td>
    <td>5:56p</td>
</tr>
<tr>
    <td>5:34p</td>
    <td>5:38p</td>
    <td>5:41p</td>
    <td>5:48p</td>
    <td>5:59p</td>
    <td>6:05p</td>
    <td>6:10p</td>
</tr>
<tr>
    <td>5:48p</td>
    <td>5:52p</td>
    <td>5:55p</td>
    <td>6:02p</td>
    <td>6:13p</td>
    <td>6:19p</td>
    <td>6:24p</td>
</tr>
<tr>
    <td>6:02p</td>
    <td>6:06p</td>
    <td>6:09p</td>
    <td>6:16p</td>
    <td>6:26p</td>
    <td>6:32p</td>
    <td>6:37p</td>
</tr>
<tr>
    <td>6:17p</td>
    <td>6:21p</td>
    <td>6:24p</td>
    <td>6:31p</td>
    <td>6:41p</td>
    <td>6:47p</td>
    <td>6:52p</td>
</tr>
<tr>
    <td>6:30p</td>
    <td>6:34p</td>
    <td>6:37p</td>
    <td>6:44p</td>
    <td>6:54p</td>
    <td>7:00p</td>
    <td>7:05p</td>
</tr>
<tr>
    <td>6:46p</td>
    <td>6:50p</td>
    <td>6:53p</td>
    <td>7:00p</td>
    <td>7:10p</td>
    <td>7:16p</td>
    <td>7:21p</td>
</tr>
<tr>
    <td>7:02p</td>
    <td>7:06p</td>
    <td>7:09p</td>
    <td>7:16p</td>
    <td>7:26p</td>
    <td>7:32p</td>
    <td>7:37p</td>
</tr>
<tr>
    <td>7:14p</td>
    <td>7:18p</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
</tr>
<tr>
    <td>7:23p</td>
    <td>7:27p</td>
    <td>7:30p</td>
    <td>7:36p</td>
    <td>7:45p</td>
    <td>7:51p</td>
    <td>7:56p</td>
</tr>
<tr>
    <td>7:42p</td>
    <td>7:46p</td>
    <td>7:49p</td>
    <td>7:55p</td>
    <td>8:04p</td>
    <td>8:10p</td>
    <td>8:15p</td>
</tr>
<tr>
    <td>7:54p</td>
    <td>7:58p</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
</tr>
<tr>
    <td>8:03p</td>
    <td>8:07p</td>
    <td>8:10p</td>
    <td>8:16p</td>
    <td>8:25p</td>
    <td>8:31p</td>
    <td>8:36p</td>
</tr>
<tr>
    <td>8:22p</td>
    <td>8:26p</td>
    <td>8:29p</td>
    <td>8:35p</td>
    <td>8:44p</td>
    <td>8:50p</td>
    <td>8:55p</td>
</tr>
<tr>
    <td>8:41p</td>
    <td>8:45p</td>
    <td>8:48p</td>
    <td>8:54p</td>
    <td>9:03p</td>
    <td>9:09p</td>
    <td>9:14p</td>
</tr>
<tr>
    <td>9:00p</td>
    <td>9:04p</td>
    <td>9:07p</td>
    <td>9:13p</td>
    <td>9:22p</td>
    <td>9:28p</td>
    <td>9:33p</td>
</tr>
<tr>
    <td>9:19p</td>
    <td>9:23p</td>
    <td>9:26p</td>
    <td>9:32p</td>
    <td>9:41p</td>
    <td>9:47p</td>
    <td>9:52p</td>
</tr>
<tr>
    <td>9:38p</td>
    <td>9:42p</td>
    <td>9:45p</td>
    <td>9:51p</td>
    <td>10:00p</td>
    <td>10:06p</td>
    <td>10:11p</td>
</tr>
<tr>
    <td>9:57p</td>
    <td>10:01p</td>
    <td>10:04p</td>
    <td>10:10p</td>
    <td>10:18p</td>
    <td>10:24p</td>
    <td>10:29p</td>
</tr>
<tr>
    <td>10:16p</td>
    <td>10:20p</td>
    <td>10:23p</td>
    <td>10:29p</td>
    <td>10:37p</td>
    <td>10:43p</td>
    <td>10:48p</td>
</tr>
<tr>
    <td>10:35p</td>
    <td>10:39p</td>
    <td>10:42p</td>
    <td>10:48p</td>
    <td>10:56p</td>
    <td>11:02p</td>
    <td>11:07p</td>
</tr>
<tr>
    <td>10:53p</td>
    <td>10:57p</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
</tr>
<tr>
    <td>11:12p</td>
    <td>11:16p</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
</tr>
<tr>
    <td>11:31p</td>
    <td>11:35p</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
</tr>
<tr>
    <td>11:50p</td>
    <td>11:54p</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
    <td>........</td>
</tr>
</tbody>
<tfoot>
<tr class="success">
    <th>NW 23rd &amp;<br>
        Marshall<br>
        Stop ID 08989
    </th>
    <th>NW Lovejoy<br>
        &amp; 18th<br>
        Stop ID 10751
    </th>
    <th>NW 11th &amp;<br>
        Johnson<br>
        Stop ID 10753
    </th>
    <th>SW 11th &amp;<br>
        Alder<br>
        Stop ID 09600
    </th>
    <th>SW 5th &amp;<br>
        Montgomery<br>
        Stop ID 10763
    </th>
    <th>SW River Place<br>
        &amp; Moody<br>
        Stop ID 12378
    </th>
    <th>SW Lowell<br>
        &amp; Bond (A)<br>
        Stop ID 12881
    </th>
</tr>
</tfoot>
</table>
</div>
